@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-main: 'Roboto', sans-serif;
$font-bold: 800;
$dark-grey: #343434;
$light-grey: #E3E3E5;
$sta-primary-dark: black;
$sta-primary-light: grey;

/* icons */
#profile {
  .network-icon {
    li {
      a {
        color: darkgreen !important;
      }
    }
  }
}

/* background color for body */
body {
  background-color: white;
}

/* top level font and styling */
h1 {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $sta-primary-dark;
}

.section-heading p {
  color: $dark-grey;
}

#about {

  /* Slide-in animations from right and left */
  @keyframes slide-from-right {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-from-left {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  /* Fade-in animation */
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Fade-in mixin with customizable delay */
  @mixin fade-in($delay) {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: $delay;
  }

  .biography-title {
    animation: slide-from-right 1s forwards;
  }

  .main-content {
    animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
    animation-delay: 100ms;
  }

  #profile {
    animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  }

  .interests-div {
    @include fade-in(1s); /* Delay of 1 second */
  }

  .education-div {
    @include fade-in(1.5s); /* Delay of 1.5 seconds */
  }

  .avatar-square {
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  }

}

