{{ define "main" }}
  {{/* Retrieve any custom parameters like publication types */}}
  {{ $pub_types := partial "functions/get_pub_types" $ }}
  {{ $pub_type_param := .Params.publication_types | default (slice 0) }}
  
  {{/* Convert string in form `"0"` to int (`0`) */}}
  {{ $pub_type := (int (index $pub_type_param 0)) | default 0 }}

  {{/* Validate Pub Type if defined */}}
  {{ if gt $pub_type (sub (len $pub_types) 1) }}
    {{ warnf "Unknown publication type in %s" .File.Path }}
    {{ $pub_type = 0 }}
  {{ end }}

  <article class="research">

    {{ partial "page_header.html" . }}

    <!-- Title -->
    <h1>{{ .Title }}</h1>

    <!-- GIF on the left -->
    {{ if .Params.image }}
    <div class="gif-left">
      <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="gif-pop">
    </div>
    {{ end }}

    <!-- Abstract -->
    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    <!-- Publication Type (optional) -->
    {{ if ne $pub_type 0 }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication_type" }}</div>
          <div class="col-12 col-md-9">
            <a href="{{ (site.GetPage "section" "publication").RelPermalink }}#{{ $pub_type | anchorize }}">
              {{ index $pub_types $pub_type }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    <!-- Custom Publication Field (optional) -->
    {{ if .Params.publication }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication" }}</div>
          <div class="col-12 col-md-9">{{ .Params.publication | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    <!-- Content like authors and any additional content -->
    <section class="research-content">
      <div class="article-style">{{ .Content }}</div>
    </section>

    <!-- Resources (Poster and Slides) -->
    <section class="research-resources">
      <h3>{{ i18n "resources" }}</h3>
      <ul>
        {{ with .Params.poster }}
          <li><a href="{{ . | absURL }}" target="_blank">{{ i18n "poster" }} (PDF)</a></li>
        {{ end }}
        {{ with .Params.slides }}
          <li><a href="{{ . | absURL }}" target="_blank">{{ i18n "slides" }} (PDF)</a></li>
        {{ end }}
      </ul>
    </section>

    {{ partial "page_footer.html" . }}

  </article>
{{ end }}
