{{ $is_list := .is_list }}
{{ $ := .content }}

{{ $btn_class := "btn btn-primary btn-outline" }}
{{ if $is_list }}
  {{ $btn_class = printf "%s btn-xs" $btn_class }}
{{ end }}

<!-- Preprint Button -->
{{ with $.Params.url_preprint }}
  <a class="{{ $btn_class }}" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="Preprint Link">
    {{ i18n "btn_preprint" }}
  </a>
{{ end }}

<!-- PDF Button -->
{{ with $.Params.url_pdf }}
  <a class="{{ $btn_class }}" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="PDF Link">
    {{ i18n "btn_pdf" }}
  </a>
{{ end }}

<!-- Citation Button -->
{{ $directory := "static/files/citations/" }}
{{ $filename := printf "%s%s.bib" $directory $.File.TranslationBaseName }}
{{ if fileExists $filename }}
  <button type="button" class="{{ $btn_class }} js-cite-modal"
          data-filename="{{ printf "files/citations/%s.bib" $.File.TranslationBaseName | relURL }}">
    {{ i18n "btn_cite" }}
  </button>
{{ end }}

<!-- Code Button -->
{{ with $.Params.url_code }}
  <a class="{{ $btn_class }}" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="Code Link">
    {{ i18n "btn_code" }}
  </a>
{{ end }}

<!-- Dataset Button -->
{{ with $.Params.url_dataset }}
  <a class="{{ $btn_class }}" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="Dataset Link">
    {{ i18n "btn_dataset" }}
  </a>
{{ end }}

<!-- Projects Button -->
{{ if $.Params.projects }}
  {{ range $.Params.projects }}
    {{ with ($.Site.GetPage "page" "project" .) }}
      <a class="{{ $btn_class }}" href="{{ .Permalink }}" aria-label="Project Link">
        {{ i18n "btn_project" }}
      </a>
    {{ else }}
      {{ errorf "The `projects` parameter in `content/%s` references a project file, `content/project/%s`, which cannot be found. Please either set `projects = []` or fix the reference." $.File.Path . }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ with $.Params.url_project }}
    <a class="{{ $btn_class }}" href="{{ . | absLangURL }}" target="_blank" rel="noopener" aria-label="Project Link">
      {{ i18n "btn_project" }}
    </a>
  {{ end }}
{{ end }}

<!-- Poster Button -->
{{ with $.Params.url_poster }}
  <a class="{{ $btn_class }}" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="Poster Link">
    {{ i18n "btn_poster" }}
  </a>
{{ end }}

<!-- Slides Button -->
{{ with $.Params.url_slides }}
  <a class="{{ $btn_class }}" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="Slides Link">
    {{ i18n "btn_slides" }}
  </a>
{{ end }}

<!-- Video Button -->
{{ with $.Params.url_video }}
  <a class="{{ $btn_class }}" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="Video Link">
    {{ i18n "btn_video" }}
  </a>
{{ end }}

<!-- Source Button -->
{{ with $.Params.url_source }}
  <a class="{{ $btn_class }}" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="Source Link">
    {{ i18n "btn_source" }}
  </a>
{{ end }}

<!-- Custom URL Buttons -->
{{ range $.Params.url_custom }}
  <a class="{{ $btn_class }}" href="{{ .url | absURL }}" target="_blank" rel="noopener" aria-label="{{ .name }}">
    {{ .name }}
  </a>
{{ end }}
